<!--
You can read more about writing a README at https://www.makeareadme.com.
-->

# {{ project_name }}

## About

This is a new project!

## Documentation

See the [doc site]({{ repo_docs_url }}) for the documentation!

## Setup

If you would like to make changes to this repo, you can clone it and follow these instructions.

### Requirements

- [Python](https://www.python.org)
- [Task](https://taskfile.dev)

### Bootstrapping

After cloning, the project must be bootstrapped.

```shell
task bootstrap
```

### Docs

This repository has a [docs](docs) directory configured with [mkdocs](https://www.mkdocs.org) and
the [mkdocs-material](https://squidfunk.github.io/mkdocs-material/) theme.

To launch a local version of the documentation, you can run:
```shell
task docs:serve
```

## License

This project is licensed under the [MIT License](LICENSE).
[Other licenses](https://choosealicense.com) do exist, though.

## Funding

This project is not currently accepting monetary donations.

The most valuable contribution you can make is your time and effort.
Contributions of code, documentation, and ideas are what help this project grow and thrive.

If you are interested in making a financial contribution to the open-source community, please consider donating to
non-profit organizations that support open-source software, such as
the [Software Freedom Conservancy](https://sfconservancy.org) or the [Open Source Initiative](https://opensource.org).

If you or your company uses this project, please consider letting us know. We would love to highlight your use case!
