version: '3'

vars:
  {% raw %}PY: "{{.PYTHON | default `python`}}"{% endraw %}
  GIT_REMOTE: "{{ repo_remote_url }}"

tasks:
  bootstrap:
    desc: Bootstrap the repository
    deps:
      - git:bootstrap
      - docs:bootstrap

  git:bootstrap:
    desc: Bootstrap git repo
    status:
      - git status
    cmds:
      - git init
      - git add -A
      - git commit -m "Initial commit"
      - git branch -M main
      - "git remote add origin {.GIT_REMOTE}"
      - git push -u origin main

  {% raw %}
  docs:bootstrap:
    desc: Create/update MkDocs virtualenv and install deps
    status:
      - test -d docs/.venv
    cmd: "{{.PY}} -m scripts.docs.mkdocs_bootstrap"

  docs:serve:
    desc: Serve docs locally with live reload
    deps: [ docs:bootstrap ]
    cmd: "{{.PY}} -m scripts.docs.mkdocs serve"
  {% endraw %}
