# {{ project_name }}

This is a new repo. You can start adding documentation here.

This uses [mkdocs](https://www.mkdocs.org) and [mkdocs-material](https://squidfunk.github.io/mkdocs-material/).

## Supported Syntax

The following syntax is supported by default in this template.
More can be enabled using [pymdownx](https://facelessuser.github.io/pymdown-extensions/).

### [Admonitions](https://facelessuser.github.io/pymdown-extensions/extensions/blocks/plugins/admonition/)

/// note
You can write notes like this.
///

/// warning | Titles can be added to these like this.
If there is something dangerous, you can note it like this.
///

### [Details](https://facelessuser.github.io/pymdown-extensions/extensions/blocks/plugins/details/)

/// details | Similar to admonitions in syntax!
You can create collapsible details like this.
///

### [Mermaid](https://mermaid.js.org)

Even Mermaid diagrams are supported!

```mermaid
graph TD;
    A-->B;
    A-->C;
    B-->D;
    C-->D;
```

### [Code Highlighting](https://facelessuser.github.io/pymdown-extensions/extensions/highlight/)

You can also highlight code like this.
It is configured to be able to be copied.

```python
print("Hello World!", 2, True)
```
